<!doctype html>
<!--[if lt IE 7]><html id="list" class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html id="list" class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html id="list" class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html id="list" class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Mike van Rossum</title>
	<meta name="robots" content="noindex">
	<meta name="description" content="">
	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<!-- <meta name="viewport" content="width=device-width"> -->
	<meta name="viewport" content="width=825">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/vendor/modernizr-2.5.3.min.js"></script>
</head>
<body>
	<div id='container'>
		<div id='left'>
			<a href='./'>
				<img id='logo' width='100' height='100' src='img/logo.png' />
			</a>
			<p>
				I’m Mike and I create interfaces.
			</p>
			<p>
				This is my playground.
			</p>
			<p>
				<a href='#'>Email</a><br>
				<a href='#'>Twitter</a>
			</p>
		</div>
		<div id='right'>
			<nav>
				<ul id='nav'>
					<li><a href='#'>Home</a></li>
					<li><a href='#'>Portfolio</a></li>
					<li><a href='#'>Projects</a></li>
					<li><a href='#'>Blog</a></li>
				</ul>
			</nav>
			<div id='content'>
				<ul id='main'>
					<li class='clear'>
						<div class='date'>
							4-3-2012
						</div>
						<div class='type'>
							<a href='#'>
								Tweet
							</a>
						</div>
						<div class='content'>
							@KoenSchaft het is echt een feedback moment, check de stromingen ipv het font. Jij kan het gesprek sturen.
						</div>
					</li>
					<li class='clear'>
						<div class='type dateless'>
							<a href='#'>
								Post
							</a>
						</div>
						<div class='content'>
							<h2>
								Getting started with Processing.js
							</h2>
							<p>
								Lately I’ve been reading a book about data visualization. The book goes into the thought process of visualizing data for humans and also talks a lot about visual coding. All code in the book is Processing code, an extremely easy and fast way to visualize. Last night I started (…)
							</p>
						</div>
					</li>
					<li class='clear'>
						<div class='date'>
							4-3-2012
						</div>
						<div class='type'>
							<a href='#'>
								Tweet
							</a>
						</div>
						<div class='content'>
							@KoenSchaft het is echt een feedback moment, check de stromingen ipv het font. Jij kan het gesprek sturen.
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

	<!-- scripts concatenated and minified via build script -->
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
	<!-- end scripts -->

	<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>
